:root {
  --font-family: "Poppins", sans-serif;

  /* Custom colors */
  --primary-color: #7a87fb;
  --secondary-color: #ffd49c;

  --text-color: #ffffff;
  --text-black: #000000;
  --background-color: #101111;
  --active-background-color: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
